.containrt_page_two{
    width: 100%;
}

.text_corner1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;

}

.Services_corner{
    padding-top: 70px;
}

.Services_text{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 0px;
}

.Curabitur_arcu{
    text-align: center;
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}

.boxss4{
    display: flex;
    justify-content: center;
    align-items:center;
    grid-column-gap: 40px;
    grid-row-gap: 60px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    height: 100%;
    width: 85%;
    margin: auto;
}

.boxss4 p{
    line-height: 2;
    color: #777;
}

.boxss4 h3{
    color:#19c8fa;
    margin-bottom: 30px;
}

.box1,.box2,.box3,.box4{
    width: calc(50% - 40px) ;
}

.box_0{
    width: 13%;
    display: flex;
    align-items: center;
    height: 57px;
    justify-content: space-around;
    flex-direction: column;
}

.hr_services{
    position: absolute;
    background-color: black;
    width: 125px;
    border: 1px solid;
    border-color: #333;
}

.sircle_0{
    position: absolute;
    border: 2px solid;
    right: calc(50% - 7.5px);
    border-radius: 50%;
    background-color: white;
    width: 15px;
    height:15px;
}


@media (max-width:767px) {
    .boxss4{
        flex-direction: column;
        text-align: center;
    }

    .box1,.box2,.box3,.box4{
        width: 100% ;
    }

    
}

@media (min-width:768px) and (max-width:1023px) {

    .boxss4{
        justify-content: start;
        grid-row-gap: 30px;
    }

    .box1,.box2,.box3,.box4{
        width:100%;
    }

    .Services_corner{
        padding-top: 50px;
    }

    .Services_text{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .Curabitur_arcu{
        margin-bottom: 50px;
    }

    .page_one {
        height: 100vh;
        position: relative;
    }
    
}